<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% if page.title %}
                {{ page.title }} &mdash; Nesh108 GitHub Homepage
            {% else %}
                Nesh108: Making Games and Stuff
            {% endif %}
        </title>
        <link rel="icon" href="/favicon.png">
        <link rel="stylesheet" href="css/style.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="script/jquery.timeago.js"></script>
    </head>
    <body>
        <div id="container">
            <header>
                <h1>Nesh108</h1>
                <h2>Open Source</h2>
<!--
                <nav id="intNav">
                    <ul>
                        <li><a href="index.html" class="active">Top 10 Repos</a></li>
                    </ul>
                </nav>
-->
                <nav id="extNav">
                    <ul>
                        <li>Template from Zynga:<br /><a href="http://zynga.github.io/gh-pages-template/">zynga.github.io/gh-pages-template/</a></li>
                    </ul>
                </nav>
            </header>
            <div id="content">
